<div>

    <button class="buttonDesign">
        <img src="/assets/edit.png" alt="" height="24" width="24">
        Compose</button>
    <br><br>

    <div class="divLayout">

        <button class="buttonList" style="background-color: rgb(196, 230, 229)">
            <img src="/assets/inbox.png" alt="" class="iconDesign">
            Inbox</button>
        <!-- <br> -->

        <button class="buttonList">
            <img src="/assets/star.png" alt="" class="iconDesign">
            Starred</button>
        <!-- <br> -->

        <button class="buttonList">
            <img src="/assets/snoozed.png" alt="" class="iconDesign">
            Snoozed</button>
        <!-- <br> -->

        <button class="buttonList">
            <img src="/assets/send.png" alt="" class="iconDesign">
            Sent</button>
        <!-- <br> -->

        <button class="buttonList">
            <img src="/assets/draft.png" alt="" class="iconDesign">
            Draft</button>
        <!-- <br> -->

        <button class="buttonList" (click)="visible()">
            <img src="{{moreArrow}}" alt="" class="iconDesign">
            {{moreName}}</button>
        <!-- <br> -->

        <div *ngIf="visiblity">

            <button class="buttonList">
                <img src="/assets/label_important.png" alt="" class="iconDesign">
                Important</button>
            <!-- <br> -->

            <button class="buttonList">
                <img src="/assets/chat.png" alt="" class="iconDesign">
                Chats</button>
            <!-- <br> -->

            <button class="buttonList">
                <img src="/assets/schedule_send.png" alt="" class="iconDesign">
                Scheduled</button>
            <!-- <br> -->

            <button class="buttonList">
                <img src="/assets/stacked_email.png" alt="" class="iconDesign">
                All mail</button>
            <!-- <br> -->

            <button class="buttonList">
                <img src="/assets/spam.png" alt="" class="iconDesign">
                Spam</button>
            <!-- <br> -->

            <button class="buttonList">
                <img src="/assets/trash.png" alt="" class="iconDesign">
                Trash</button>
            <!-- <br> -->

            <button class="buttonList" (click)="visibleCat()">
                <img src="/assets/categories.png" alt="" class="iconDesign">
                Categories</button>
            <!-- <br> -->

            <div *ngIf="visibleCategory">

                <button class="buttonList">
                    <img src="/assets/social.png" alt="" class="iconDesign">
                    Social</button>
                <!-- <br> -->

                <button class="buttonList">
                    <img src="/assets/updates.png" alt="" class="iconDesign">
                    Updates</button>
                <!-- <br> -->
                <button class="buttonList">
                    <img src="/assets/forum.png" alt="" class="iconDesign">
                    Forums</button>
                <!-- <br> -->
                <button class="buttonList">
                    <img src="/assets/promotions.png" alt="" class="iconDesign">
                    Promotions</button>
                <!-- <br> -->

            </div>

            <button class="buttonList">
                <img src="/assets/settings.png" alt="" class="iconDesign">
                Manage Labels</button>
            <!-- <br> -->

            <button class="buttonList">
                <img src="/assets/add.png" alt="" class="iconDesign">
                Create new label</button>
            <!-- <br> -->

        </div>
        <br>

        <label for="" style="margin-left: 25px;font-size: large;">Labels</label>

        <button mat-icon-button class="example-icon buttonAdd" aria-label="Example icon-button with menu icon">
            <img src="/assets/add.png" alt="" class="createLabelButton">
        </button>

    </div>

</div>