.td1{
    width: 2%;
}
.td2{
    width: 14%;
}
.td3{
    width: 74%;
}

tr:hover{
    box-shadow: 2px 2px 1px gray ;
    border: solid 1px gray;
}
div {
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
}

.starButton {
    background-color: transparent;
    border: none;
}