
<div>
    <mat-tab-group mat-tabs="false" mat-align-tabs="start">
        <mat-tab label="Primary"></mat-tab>
        <mat-tab label="Promotions"></mat-tab>
        <mat-tab label="Social"></mat-tab>
    </mat-tab-group>

    <table class="table">
        <tbody>
            <tr *ngFor="let i of emailsData">
                <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
                <td class="td1">
                    <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png"
                        alt="" height="17px" width="17px">
                </td>
                <td class="td2">{{i.title}}</td>
                <td class="td3">{{i.disc}}</td>
                <td>{{i.date | date:'MMM dd'}}</td>
            </tr>
        </tbody>
    </table>
</div>