
<table class="table">
    <tbody>

        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr>

        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr> 
        
        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr>

        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr>

        <tr>
            <td class="td1"><input type="checkbox" style="height: 15px;width: 15px;"></td>
            <td class="td1">
                <img src="https://spng.pngfind.com/pngs/s/95-959934_star-outline-comments-star-icon-material-design-hd.png" alt="" height="17px" width="17px">
            </td>
            <td class="td2">ABCDEFGHIJK</td>
            <td class="td3">Pandurang Ranpise, Top companies are hiring on Naukri right now!</td>
            <td>May 28</td>
        </tr>
        
    </tbody>
</table>
