<div>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="\assets\calendar.png" alt="" class="imageDesign">
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxVryMAgjW6u_jz79GJR2PkqjsbyJvvF9EFg&usqp=CAU"
            alt="" class="imageDesign">
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/Tasks.png" alt="" class="imageDesign">
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkuylHmooDW5ykxgE8TqRId4UDwlGZ3AOWO1i1DWs&s"
            alt="" class="imageDesign">
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0mzwjF6iWDkV3qSvIXqcB8s68YpywaNxHugJ_oXC8ig&s"
            alt="" class="imageDesign">
    </button>

</div>