
<div>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  
    <img src="/assets/gmail.png" alt="" class="gmailLogo">
    <span class="gmailStyles">Gmail</span>

    <div class="searchStyles">

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="/assets/search.png" alt="" class="size" >
      </button>

      <input type="text" class="inputField" placeholder="Search mail"> 

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="/assets/searchOption.png" alt="" class="size">
      </button>
      
    </div>
      
      
    <span class="example-spacer"></span> 

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="/assets/help.png" alt="" class="size ">
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="/assets/settings.png" alt="" class="size " >
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="/assets/apps.png" alt="" class="size " >
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="/assets/user.png" alt="" class="size">
      </button>

  </mat-toolbar>
</div>
  