.chechboxDesign{
    height: 15px;
    width: 15px;
}
.selectDesign{
    height: 15px;
    width: 15px;
    border: none;
    padding-bottom: 22px;
    margin-left: 7px;
}
.realoadDesign{
    height: 15px;
    width: 15px;
}

button {
    margin: 10px 0 0 10px;
    background-color: transparent;
}

