
<div style="padding: 10px;">
<header>
    <div>
        <input type="checkbox" class="chechboxDesign">
    
        <select class="selectDesign">
            <option *ngFor="let op of selectOptions">{{op}}</option>
        </select>
    
        <a href="">
            <img src="https://w7.pngwing.com/pngs/334/227/png-transparent-clockwise-rotation-arrow-circle-round-arrow-monochrome-number-shape-thumbnail.png" alt="" class="realoadDesign">
        </a>
    
        <a href="">
            <img src="https://w7.pngwing.com/pngs/948/504/png-transparent-computer-icons-material-design-hamburger-button-menu-menu-text-rectangle-computer-wallpaper-thumbnail.png" alt="" class="realoadDesign">
        </a>
    
    </div>
</header>

<mat-tab-group mat-tabs="false" mat-align-tabs="start">
    <mat-tab label="Primary"></mat-tab>
    <mat-tab label="Promotions"></mat-tab>
    <mat-tab label="Social"></mat-tab>
  </mat-tab-group>

</div>

<div>
    <app-emailstable></app-emailstable>
</div>
