.chechboxDesign{
    position: relative;
    top: 5px;
    height: 15px;
    width: 15px;
}
.selectDesign{
    position: relative;
    top: 8px;
    height: 15px;
    width: 17px;
    border: none;
}
.realoadDesign{
    margin-left: 30px;
    height: 15px;
    width: 15px;
}

