
<div>
<!-- <div style="padding: 10px;"> -->
<header>
    <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <input type="checkbox" class="chechboxDesign">
        
        <select class="selectDesign">
            <option *ngFor="let op of selectOptions">{{op}}</option>
        </select>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="/assets/refresh.png" alt="" class="realoadDesign">
        </button>
    
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="/assets/three_dot.png" alt="" class="realoadDesign">
        </button>
    
    </div>
</header>



<div >
    <app-emailstable></app-emailstable>
</div>
</div>